.venv/
dist/
build/
__pycache__/
*.py[cod]
*.log
*.egg-info/
.pytest_cache/
.build-localappdata/
.build-temp/
.nuitka-localappdata/
.nuitka-temp/
deployment/
nuitka-crash-report.xml
pyside_app_demo.exe
pysidedeploy.spec
